.x-tree-panel a,
.x-panel a {
	color: #990000;
}

.x-tree-panel .folder {
	font-weight: bold;
	color: #333;
}

.x-tip,
.x-tip-body,
.x-tip-body span{
	width: auto !important;
	max-width: 200px !important;
}

#usersAddSubmit,
.btnAlignment {
	left: 0 !important;
	right: auto !important;
}

/* @TODO move all app styles to SCSS */
.is-inactive td {
	background: #ffeaea !important;
	font-style: italic !important;
	color: #555;
}

.is-inactive td:first-child,
.is-inactive td:last-child {
	font-style: normal !important;
	color: #000;
}