<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="http://autoridechicago.com/sites/default/files/favicon.png" type="image/png" />
		<title>Chicago Driving School | Chicago Driving School</title>
		
		
		<style type="text/css" media="all">
			@import url("http://autoridechicago.com/sites/all/modules/superfish/css/superfish.css?msp5z6");
			@import url("http://autoridechicago.com/sites/all/modules/superfish/css/superfish-vertical.css?msp5z6");
			@import url("http://autoridechicago.com/sites/all/modules/superfish/css/superfish-navbar.css?msp5z6");</style>
		<style type="text/css" media="all">@import url("http://autoridechicago.com/sites/all/themes/chicago_riders_wakensys/style.css?msp5z6");</style>
		<style type="text/css" media="print">@import url("http://autoridechicago.com/sites/all/themes/chicago_riders_wakensys/print.css?msp5z6");</style>

		{% stylesheets 
			'@RideChicagoAutoBundle/Resources/public/css/site/main-v2.css'
		%}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	</head>
	<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-338 node-type-page not-front not-logged-in no-sidebars" >

		<div id="wrapper_top">
			<div id="container" class="clearfix">

				<div id="header_rep">
					<div id="header">

						<div id="logo-floater">
							<h1 id="branding"><a href="/">
									<img src="http://autoridechicago.com/sites/all/themes/chicago_riders_wakensys/logo.png" alt="Chicago Driving School Chicago Driving School" title="Chicago Driving School Chicago Driving School" id="logo" />
									<div class="slogan">Chicago Driving School</div>
								</a></h1>
						</div>
						<div class="top_menu">
							<div class="region region-top-menu">
								<div id="block-menu-menu-anonymous-top-menu" class="block block-menu clearfix">


									<div class="content">
										<ul class="menu"><li class="first last leaf"><a href="/user/login" class="login">log in</a></li>
										</ul>  </div>
								</div>
								<div id="block-block-9" class="block block-block clearfix">


									<div class="content">
										<div class="widgets widgets-set widgets-set-horizontal widgets-style-horizontal" id="widgets-element-socialmedia_profile-buttons">
											<div class="widgets widgets-element widgets-element-horizontal widgets-style-horizontal" id="widgets-element-socialmedia_socialmedia-facebook-profile-button"><a href="http://www.facebook.com/ridechicago?ref=nf" target="_blank" title="Visit ridechicago on Facebook"><img alt="Facebook icon" src="/bundles/ridechicagoauto/images/1380944085_social_facebook_box_blue.png" /></a></div>

											<div class="widgets widgets-element widgets-element-horizontal widgets-style-horizontal" id="widgets-element-socialmedia_socialmedia-rss-feed-button">&nbsp;</div>

											<div class="widgets-clear">&nbsp;</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- /#header -->
				</div> <!-- /#header  rep-->
			</div></div>

		<div id="wrapper">
			<div id="container" class="clearfix">

				<div id="main_menu" >

					<div class="region region-main-menu">
						<div id="block-superfish-1" class="block block-superfish clearfix">


							<div class="content">
								<ul id="superfish-1" class="sf-menu sf-style-default sf-horizontal main_menu" ><li id="menu-830-1" class="  sf-item-1"><span><a href="/" title="" class="active"><b>home</b></a></span></li>
									<li id="menu-900-1" class="  sf-item-2"><span><a href="/classes"><b>Classes</b></a></span></li>
									<li id="menu-1026-1" class="  sf-item-3"><span><a href="/schedule"><b>Schedule</b></a></span></li>
									<li id="menu-1012-1" class="  sf-item-4"><span><a href="/pricing"><b>pricing</b></a></span></li>
									<li id="menu-1013-1" class="  sf-item-5"><span><a href="/permits"><b>permits</b></a></span></li>
									<li id="menu-901-1" class="  sf-item-6"><span><a href="/faq"><b>FAQ</b></a></span></li>
									<li id="menu-894-1" class="  sf-item-7"><span><a href="/contact-us"><b>contact</b></a></span></li>
								</ul>  </div>
						</div>
					</div>

				</div>


				{% block aboveContent %}


				{% endblock %}


				<div id="center">


				{% block content %}


				{% endblock %}

					
						
				</div> <!-- /.left-corner, /.right-corner, /#squeeze, /#center -->




				<div class="clear"></div>

				<div id="footer" class="footer">        <div class="footer_a">  <div class="region region-footer-a">
							<div id="block-block-1" class="block block-block clearfix">


								<div class="content">
									<p>5215 N Ravenswood #208 Chicago IL 60640<br />
										Phone : 773 505 3215<br />
										Email  : <a href="mailto:drive@ridechicago.com">Drive@ridechicago.com</a></p>
								</div>
							</div>
						</div>
					</div>
					<div class="footer_b">        </div>
					<div class="footer_c">  
						<div class="region region-footer-c">
							<div id="block-block-2" class="block block-block clearfix">
								<div class="content">
									<p>Ride Chicago Copyright 2013</p>
								</div>
							</div>
						</div>
					</div>


				</div>


			</div> <!-- /#container -->
		</div> <!-- /#wrapper -->
		
		{% javascripts 
			'@RideChicagoAutoBundle/Resources/public/js/src/public/jquery-1.10.2.min.js'
			'@RideChicagoAutoBundle/Resources/public/js/src/public/FormHandler.js'			
		%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
	</body>
</html>
