<!doctype html>
<html>
	<head>
		{% stylesheets 
			'ext/resources/ext-theme-gray/ext-theme-gray-all.css'
		%}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
		{% javascripts 
			'ext/ext-all-debug.js'
			'@RideChicagoAutoBundle/Resources/public/js/src/admin/main.js'
		%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
	</head>
	<body>
		
	</body>
</html>