{% extends "RideChicagoAutoBundle::Default/default.html.twig" %}

{% block content %}

<div id="squeeze">
	<div class="right-corner"><div class="left-corner">




			<div class="middle-content">     


				<a id="main-content"></a>
				<div id="tabs-wrapper" class="clearfix">                  

				</div>                                      
				<div class="clearfix">
					<div class="region region-content">
						<div id="block-system-main" class="block block-system clearfix">


							<div class="content">
								<div id="node-101" class="node node-inner-banner-page node-promoted" about="/classes" typeof="sioc:Item foaf:Document">





									<div class="content clearfix">
										<div class="inner_banner">



											<img typeof="foaf:Image" src="http://autoridechicago.com/sites/default/files/styles/inner_banner/public/clasess_banner.png" width="1053" height="230" alt="">
										</div>


										<h2 class="inner_title">


											<img src="sites/default/files/classes_icon.png " align="left"> 
											Classes   </h2>


										<div class="inner_content">



										</div>


									</div>

									<div class="clearfix">
										<div class="links"></div>


									</div>

								</div>


							</div>
						</div>
						<div id="block-views-class-list-block" class="block block-views clearfix">


							<div class="content">
								<div class="view view-class-list view-id-class_list view-display-id-block view-dom-id-ad34c6ede7882af093f5ef96c8694448">
									<div class="view-header">

									</div>



									<div class="view-content">
										<div class="item-list">      <h3>Classes for Adults</h3>



											<div class="showcart">
												<ul>          <li class="views-row views-row-1 views-row-odd views-row-first views-row-last">  
 
														<div class="views-field views-field-nothing">        <span class="field-content"><div class="class_box">
																	<div class="class_img">
																		<img typeof="foaf:Image" src="http://autoridechicago.com/sites/default/files/class_4.jpg" width="231" height="140" alt="">
																	</div>
																	<div class="class_content">
																		<div class="class_title"><a href="/classes/adult-driving-lessons-18">Adult Driving Lessons (18+)</a></div>
																		<div class="class_body"><h4>Private training sessions available in 2 hour increments.&nbsp; Drive when it’s convenient for you!</h4>
																			<h4>2 hours -$99</h4>
																			<h4>4 hours -$185</h4>
																			<h4>6 hours -$270</h4>
																			<h4>8 hours -$360</h4>
																			<h4 align="center" style="color: rgb(34, 34, 34); font-family: arial,sans-serif; line-height: normal; text-align: center;"><span style="font-size: 8pt; line-height: 12px;">Home pick up / drop off available.&nbsp; Distance parameters apply</span>.</h4>
																			<div class="popup2" id="enroll105" style="display:none">
																				<div class="popupme" id="popupme_105">
																					<form accept-charset="UTF-8" action="/autojuly02-31-c-am" id="uc-product-add-to-cart-form-553" method="post">
																						<div>
																							<div class="attributes" id="uc_product_add_to_cart_form-553-attributes">
																								<div class="attribute attribute-6 odd">
																									<div class="form-item form-type-select form-item-attributes-6"><label for="edit-attributes-6">Hours </label><br><select class="form-select ajax-processed" id="edit-attributes-6" name="attributes[6]"><option selected="selected" value="26">2</option><option value="27">4, +$86.00</option><option value="28">6, +$171.00</option><option value="29">8, +$241.00</option></select></div>
																								</div>
																							</div></div></form></div></div>
																			<div class="clear"></div>
																			<div class="read_more"><a href="/classes/adult-driving-lessons-18">learn more</a></div>
																			<div class="submit_cart"><div class="popup2" style="display:none" id="enroll105">
																					<div id="popupme_105" class="popupme">

																						<form action="/autojuly02-31-c-am" method="post" id="uc-product-add-to-cart-form-553" accept-charset="UTF-8"><div><div id="uc_product_add_to_cart_form-553-attributes" class="attributes"><div class="attribute attribute-6 odd"><div class="form-item form-type-select form-item-attributes-6">
																											<label for="edit-attributes-6">Hours </label>
																											<select id="edit-attributes-6" name="attributes[6]" class="form-select ajax-processed"><option value="26" selected="selected">2</option><option value="27">4, +$86.00</option><option value="28">6, +$171.00</option><option value="29">8, +$241.00</option></select>
																										</div>
																									</div></div><input type="hidden" name="qty" value="1">
																								<input type="hidden" name="form_build_id" value="form-kPUc0626CDZoUUTCMQBKlZ2_msh0dorsbOR98GuOcWw">
																								<input type="hidden" name="form_token" value="CDzg9BjK2QEwXHhBpKV7KNoHjIuGPQTfOC4ZTOMasB8">
																								<input type="hidden" name="form_id" value="uc_product_add_to_cart_form_553">
																								<div class="form-actions form-wrapper" id="edit-actions"><input class="node-add-to-cart form-submit" type="submit" id="edit-submit-553" name="op" value="Enroll"></div></div></form>
																					</div>
																				</div>
																				<a class="colorbox-inline init-colorbox-inline-processed cboxElement" href="?width=225&amp;height=140&amp;inline=true#popupme_105">Enroll</a>

																			</div>
																		</div>
																	</div>
																</div></span>  </div></li>
												</ul></div>
										</div><div class="item-list">      <h3>Classes for teens</h3>



											<div class="hidecart">
												<ul>          <li class="views-row views-row-1 views-row-odd views-row-first views-row-last">  
														
														<div class="views-field views-field-nothing">        <span class="field-content"><div class="class_box">
																	<div class="class_img">
																		<img typeof="foaf:Image" src="http://autoridechicago.com/sites/default/files/class_2.jpg" width="231" height="140" alt="">
																	</div>
																	<div class="class_content">
																		<div class="class_title"><a href="/classes/teen-driving-class-15-17">Teen Driving Class (15-17)</a></div>
																		<div class="class_body"><h4><b>Basic Driving&nbsp;<span class="il">Class</span>&nbsp;-&nbsp;&nbsp; </b>30 hours classroom, 6 hours driving, 6 hours observation. $450* <em>(Must register with a partner)</em></h4>
																			<h4><b>Skilled Driver&nbsp;<span class="il">Class</span>&nbsp;-&nbsp;</b>30 hours classroom, 8 hours private 1 on 1 driving instruction.&nbsp;&nbsp;-$495 &nbsp;<em> ( No partner required** our most popular class!)</em></h4>
																			<h4><b>Driving only</b>-&nbsp; Classroom already completed at your school:&nbsp;&nbsp;8 hours private 1 on 1 driving -$360</h4>
																			<h4><strong>Driving only</strong>-&nbsp; Classroom already completed at your school:&nbsp; 6 hours driving, 6 hours observation ( with partner) -$320/each</h4>
																			<h4 align="center"><b>&nbsp;</b><span style="font-size: 8pt; line-height: 12px;">Home pick up / drop off for driving available. &nbsp; Distance parameters apply.</span></h4>
																			<p>&nbsp;</p>
																			<div class="submit_cart2"><a href="/schedule">Enroll</a></div>

																			<div class="clear"></div>
																			<div class="read_more"><a href="/classes/teen-driving-class-15-17">learn more</a></div>
																			<div class="submit_cart"><div class="popup2" style="display:none" id="enroll32">
																					<div id="popupme_32" class="popupme">

																						<form action="/autojuly02-31-c-am" method="post" id="uc-product-add-to-cart-form-553" accept-charset="UTF-8"><div><div id="uc_product_add_to_cart_form-553-attributes" class="attributes"><div class="attribute attribute-6 odd"><div class="form-item form-type-select form-item-attributes-6">
																											<label for="edit-attributes-6">Hours </label>
																											<select id="edit-attributes-6" name="attributes[6]" class="form-select ajax-processed"><option value="26" selected="selected">2</option><option value="27">4, +$86.00</option><option value="28">6, +$171.00</option><option value="29">8, +$241.00</option></select>
																										</div>
																									</div></div><input type="hidden" name="qty" value="1">
																								<input type="hidden" name="form_build_id" value="form-kPUc0626CDZoUUTCMQBKlZ2_msh0dorsbOR98GuOcWw">
																								<input type="hidden" name="form_token" value="CDzg9BjK2QEwXHhBpKV7KNoHjIuGPQTfOC4ZTOMasB8">
																								<input type="hidden" name="form_id" value="uc_product_add_to_cart_form_553">
																								<div class="form-actions form-wrapper" id="edit-actions"><input class="node-add-to-cart form-submit" type="submit" id="edit-submit-553" name="op" value="Enroll"></div></div></form>
																					</div>
																				</div>
																				<a class="colorbox-inline init-colorbox-inline-processed cboxElement" href="?width=225&amp;height=140&amp;inline=true#popupme_32">Enroll</a>

																			</div>
																		</div>
																	</div>
																</div></span>  </div></li>
												</ul></div>
										</div><div class="item-list">      <h3>Extended Driving classes</h3>



											<div class="hidecart">
												<ul>          <li class="views-row views-row-1 views-row-odd views-row-first views-row-last">  
														
														<div class="views-field views-field-nothing">        <span class="field-content"><div class="class_box">
																	<div class="class_img">
																		<img typeof="foaf:Image" src="http://autoridechicago.com/sites/default/files/class_1.jpg" width="233" height="140" alt="">
																	</div>
																	<div class="class_content">
																		<div class="class_title"><a href="/classes/extended-driving">Extended Driving</a></div>
																		<div class="class_body"><h4><strong>Extended Driving:</strong></h4>
																			<h4>50 Hours of Practice- Chicago Driver Training - $1950<br>
																				24 Hours of Practice- Chicago Driver Training - $995</h4>
																			<h4>Other Additional Driving time packages ( behind the wheel)<br>
																				2 hours -$99<br>
																				4 hours -$195<br>
																				6 hours -$285<br>
																				8 hours -$360</h4>
																			<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

																			<div class="clear"></div>
																			<div class="read_more"><a href="/classes/extended-driving">learn more</a></div>
																			<div class="submit_cart"><div class="popup2" style="display:none" id="enroll104">
																					<div id="popupme_104" class="popupme">

																						<form action="/autojuly02-31-c-am" method="post" id="uc-product-add-to-cart-form-553" accept-charset="UTF-8"><div><div id="uc_product_add_to_cart_form-553-attributes" class="attributes"><div class="attribute attribute-6 odd"><div class="form-item form-type-select form-item-attributes-6">
																											<label for="edit-attributes-6">Hours </label>
																											<select id="edit-attributes-6" name="attributes[6]" class="form-select ajax-processed"><option value="26" selected="selected">2</option><option value="27">4, +$86.00</option><option value="28">6, +$171.00</option><option value="29">8, +$241.00</option></select>
																										</div>
																									</div></div><input type="hidden" name="qty" value="1">
																								<input type="hidden" name="form_build_id" value="form-kPUc0626CDZoUUTCMQBKlZ2_msh0dorsbOR98GuOcWw">
																								<input type="hidden" name="form_token" value="CDzg9BjK2QEwXHhBpKV7KNoHjIuGPQTfOC4ZTOMasB8">
																								<input type="hidden" name="form_id" value="uc_product_add_to_cart_form_553">
																								<div class="form-actions form-wrapper" id="edit-actions"><input class="node-add-to-cart form-submit" type="submit" id="edit-submit-553" name="op" value="Enroll"></div></div></form>
																					</div>
																				</div>
																				<a class="colorbox-inline init-colorbox-inline-processed cboxElement" href="?width=225&amp;height=140&amp;inline=true#popupme_104">Enroll</a>

																			</div>
																		</div>
																	</div>
																</div></span>  </div></li>
												</ul></div>
										</div><div class="item-list">      <h3>Licensing</h3>



											<div class="hidecart">
												<ul>          <li class="views-row views-row-1 views-row-odd views-row-first views-row-last">  
														
														<div class="views-field views-field-nothing">        <span class="field-content"><div class="class_box">
																	<div class="class_img">
																		<img typeof="foaf:Image" src="http://autoridechicago.com/sites/default/files/dmv.jpg" width="231" height="140" alt="">
																	</div>
																	<div class="class_content">
																		<div class="class_title"><a href="/classes/dmv-testing">DMV Testing</a></div>
																		<div class="class_body"><h4>Available to any student with a minimum 2 hours training to ensure success. $125&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Meet instructor and vehicle at the DMV- $105</h4>

																			<div class="clear"></div>
																			<div class="read_more"><a href="/classes/dmv-testing">learn more</a></div>
																			<div class="submit_cart"><div class="popup2" style="display:none" id="enroll287">
																					<div id="popupme_287" class="popupme">

																						<form action="/autojuly02-31-c-am" method="post" id="uc-product-add-to-cart-form-553" accept-charset="UTF-8"><div><div id="uc_product_add_to_cart_form-553-attributes" class="attributes"><div class="attribute attribute-6 odd"><div class="form-item form-type-select form-item-attributes-6">
																											<label for="edit-attributes-6">Hours </label>
																											<select id="edit-attributes-6" name="attributes[6]" class="form-select ajax-processed"><option value="26" selected="selected">2</option><option value="27">4, +$86.00</option><option value="28">6, +$171.00</option><option value="29">8, +$241.00</option></select>
																										</div>
																									</div></div><input type="hidden" name="qty" value="1">
																								<input type="hidden" name="form_build_id" value="form-kPUc0626CDZoUUTCMQBKlZ2_msh0dorsbOR98GuOcWw">
																								<input type="hidden" name="form_token" value="CDzg9BjK2QEwXHhBpKV7KNoHjIuGPQTfOC4ZTOMasB8">
																								<input type="hidden" name="form_id" value="uc_product_add_to_cart_form_553">
																								<div class="form-actions form-wrapper" id="edit-actions"><input class="node-add-to-cart form-submit" type="submit" id="edit-submit-553" name="op" value="Enroll"></div></div></form>
																					</div>
																				</div>
																				<a class="colorbox-inline init-colorbox-inline-processed cboxElement" href="?width=225&amp;height=140&amp;inline=true#popupme_287">Enroll</a>

																			</div>
																		</div>
																	</div>
																</div></span>  </div></li>
												</ul></div>
										</div>    </div>






								</div>  </div>
						</div>
					</div>
				</div>

			</div> <!-- /#middle-content -->



			<div class="clear"></div>
		</div></div></div>


{% endblock %}