{% extends "RideChicagoAutoBundle::Default/default.html.twig" %}

{% block content %}

<div id="squeeze">
           <div class="right-corner"><div class="left-corner">
           
           
                    
         
         <div class="middle-content contact-middle-content">     
           
           
                              <a id="main-content"></a>
          <div id="tabs-wrapper" class="clearfix">                  
         
          </div>                                      
                    <div class="clearfix">
              <div class="region region-content">
    <div id="block-system-main" class="block block-system clearfix">

    
  <div class="content">
    <div id="node-100" class="node node-webform node-promoted contact_us ">

  
 
  

  
    <h2 class="contact_us">Contact Us</h2>
 


 
 
 
 
 
  
  <div class="content clearfix">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>Questions? Email us using the form below!</p>

			</div></div></div><form class="webform-client-form mailer-client" enctype="multipart/form-data" action="/contact-us" method="post" id="webform-client-form-100" accept-charset="UTF-8"><div><div class="form-item webform-component webform-component-textfield webform-container-inline" id="webform-component-name">
  <label for="edit-submitted-name">Name  <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" id="edit-submitted-name" name="submitted[name]" value="" size="60" maxlength="128" class="form-text required">
</div>
<div class="form-item webform-component webform-component-textfield webform-container-inline" id="webform-component-e-mail">
  <label for="edit-submitted-e-mail">E-mail  <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" id="edit-submitted-e-mail" name="submitted[e_mail]" value="" size="60" maxlength="128" class="form-text required">
</div>
<div class="form-item webform-component webform-component-textfield webform-container-inline" id="webform-component-subject">
  <label for="edit-submitted-subject">Subject  </label>
 <input type="text" id="edit-submitted-subject" name="submitted[subject]" value="" size="60" maxlength="128" class="form-text">
</div>
<div class="form-item webform-component webform-component-textarea" id="webform-component-message">
  <label for="edit-submitted-message">Message  <span class="form-required" title="This field is required.">*</span></label>
 <div class="form-textarea-wrapper"><textarea id="edit-submitted-message" name="submitted[message]" cols="60" rows="5" class="form-textarea required"></textarea></div>
</div>
<input type="hidden" name="details[sid]" value="">
<input type="hidden" name="details[page_num]" value="1">
<input type="hidden" name="details[page_count]" value="1">
<input type="hidden" name="details[finished]" value="0">
<input type="hidden" name="form_build_id" value="form-Aa3R0NgiSIeOif2MO3FCGIlt2J3bGAgaDHG9qQdsbts">
<input type="hidden" name="form_id" value="webform_client_form_100">
<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="Send" class="form-submit"></div></div></form>  </div>

  <div class="clearfix">
          <div class="links"></div>
    
      </div>

</div>
  </div>
</div>
  </div>
          </div>
          
          </div> <!-- /#middle-content -->
          
          
                        <div id="sidebar-second" class="sidebar">
            <div class="region region-sidebar-second">
    <div id="block-block-6" class="block block-block clearfix">

    
  <div class="content">
    <div class="gmap">
<iframe frameborder="0" height="359" marginheight="0" marginwidth="0" scrolling="no" src="https://maps.google.lk/maps?oe=utf-8&amp;client=firefox-a&amp;q=5215+N+Ravenswood+%23208+Chicago+IL+60640&amp;ie=UTF8&amp;hq=&amp;hnear=5215+N+Ravenswood+Ave+%23208,+Chicago,+Cook,+Illinois+60640,+United+States&amp;gl=lk&amp;t=m&amp;source=embed&amp;ll=41.976657,-87.67416&amp;spn=0.022907,0.04283&amp;z=14&amp;iwloc=A&amp;output=embed" width="500"></iframe><p>
<small><a href="https://maps.google.lk/maps?oe=utf-8&amp;client=firefox-a&amp;q=5215+N+Ravenswood+%23208+Chicago+IL+60640&amp;ie=UTF8&amp;hq=&amp;hnear=5215+N+Ravenswood+Ave+%23208,+Chicago,+Cook,+Illinois+60640,+United+States&amp;gl=lk&amp;t=m&amp;source=embed&amp;ll=41.976657,-87.67416&amp;spn=0.022907,0.04283&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small></p>
</div>
  </div>
</div>
<div id="block-block-7" class="block block-block clearfix">

    
  <div class="content">
    <div class="contact_box">
<div class="contact_addr">
<h2>Contact Us</h2>

<p><b>Monday – Thursday 10 – 6pm</b><br><br>
info@ridechicago.com<br>
773 878 RIDE (7433)<br>
773 505 3215 (Text)</p>

<p>5215 N Ravenswood #208<br>
Chicago IL 60640</p>
</div>

<div class="contact_img"><img src="sites/all/themes/chicago_riders_wakensys/images/office.png"></div>
</div>
  </div>
</div>
  </div>
         
       </div>
            
                 <div class="clear"></div>
      </div></div></div>

{% endblock %}