{% extends "RideChicagoAutoBundle::Default/default.html.twig" %}

{% block content %}

<style type="text/css">
	.faq_content {
		display: block !important;
	}
</style>

<div id="squeeze">
           <div class="right-corner"><div class="left-corner">
           
           
                    
         
         <div class="middle-content">     
           
           
                              <a id="main-content"></a>
          <div id="tabs-wrapper" class="clearfix">                  
         
          </div>                                      
                    <div class="clearfix">
              <div class="region region-content">
    <div id="block-system-main" class="block block-system clearfix">

    
  <div class="content">
    <div id="node-102" class="node node-inner-banner-page node-promoted" about="/have-question-regarding-our-service" typeof="sioc:Item foaf:Document">

  
  


  <div class="content clearfix">
        <div class="inner_banner">
     
   

	<img typeof="foaf:Image" src="/sites/default/files/styles/inner_banner/public/faq_banner_1.png" width="1053" height="230" alt="">
     </div>
     
     
    <h2 class="inner_title">
    
        
   <img src="/sites/default/files/faq_icon_1.png " align="left"> 
  have an question regarding our service ?   </h2>
    
 
     <div class="inner_content">
      
       <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"> </div></div></div> 
     
     </div>
     
     
  </div>

  <div class="clearfix">
          <div class="links"></div>
    
   
  </div>

</div>


  </div>
</div>
<div id="block-views-faq-qus-answer-block-1" class="block block-views clearfix">

    
  <div class="content">
    <div class="view view-faq-qus-answer view-id-faq_qus_answer view-display-id-block_1 view-dom-id-99ad4141c4dcd5226025fdf380b9f35e">
        
  
  
      <div class="view-content">
        <div class="views-row views-row-1">
      
  <div class="views-field views-field-title">        <h1 class="field-content faq_title plus">How long must I hold my permit before I can get my license? </h1>  </div>  
  <div class="views-field views-field-body">        <div class="field-content faq_content" style="display: none;"><p>9 months or until you turn 18, whichever comes first!</p>
</div>  </div>  </div>
  <div class="views-row views-row-2">
      
  <div class="views-field views-field-title">        <h1 class="field-content faq_title minus">50 hour training requirements- </h1>  </div>  
  <div class="views-field views-field-body">        <div class="field-content faq_content" style="display: block;"><p>llinois law requires that you have at least 50 hours of behind-the-wheel training, including 10 hours of nighttime driving, in addition to your driver education training, before youare eligible to obtain a driver’s license at age 16.</p>
</div>  </div>  </div>
  <div class="views-row views-row-3">
      
  <div class="views-field views-field-title">        <h1 class="field-content faq_title minus">Nighttime driving restrictions?</h1>  </div>  
  <div class="views-field views-field-body">        <div class="field-content faq_content" style="display: block;"><p>If you are under 18, you cannot drive during the following times: - Sun -Thurs 10pm-6am.&nbsp; Fri-Sat 11pm-6am.</p>
</div>  </div>  </div>
  <div class="views-row views-row-4">
      
  <div class="views-field views-field-title">        <h1 class="field-content faq_title">What are the permit restrictions? </h1>  </div>  
  <div class="views-field views-field-body">        <div class="field-content faq_content"><p>Your instruction permit allows you to drive during the behind-the wheel portion of your driver education class with an adult instructor occupying the seat next to you. It also allows you to drive with a parent, legal guardian or responsible adult age 21 or older with a valid license for the type of vehicle you are driving and at least one year of driv-ing experience. After you have successfully completed the driver education class, you may continue practice driving with your instruction permit, under the direct supervisionof a responsible adult, as outlined above.</p>
</div>  </div>  </div>
  <div class="views-row views-row-5">
      
  <div class="views-field views-field-title">        <h1 class="field-content faq_title">Age 15-17?</h1>  </div>  
  <div class="views-field views-field-body">        <div class="field-content faq_content"><p>If you are age 15-17, you may receive your instruction permit if you are enrolled in our approved driver education class or will start attending class within the next 30 days. &nbsp;&nbsp; The instruction permit is valid for 24 months and must be held for at least nine consecutive months prior to obtaining a driver’s license if you are 16 or older.</p>
<p>If you are age 17 and 3 months or older, you may apply for an instruction permit with-out taking a driver education course. When you apply for your instruction permit, you must pass the vision and written exams for the license classification you are seeking.</p>
</div>  </div>  </div>
  <div class="views-row views-row-6">
      
  <div class="views-field views-field-title">        <h1 class="field-content faq_title">How many weeks is the class? </h1>  </div>  
  <div class="views-field views-field-body">        <div class="field-content faq_content"><p>Classroom lasts for five weeks.&nbsp; Three classes per week for two hours each session.</p>
<p>After the permit is received, behind the wheel sessions will start and be scheduled.&nbsp;&nbsp; Driving, observation, travel time or any combination shall not exceed 3 hours&nbsp; in a 24hour period.</p>
</div>  </div>  </div>
  <div class="views-row views-row-7">
      
  <div class="views-field views-field-title">        <h1 class="field-content faq_title">Do I need my permit/license with me when I Drive?</h1>  </div>  
  <div class="views-field views-field-body">        <div class="field-content faq_content"><p>YES!</p>
</div>  </div>  </div>
  <div class="views-row views-row-8">
      
  <div class="views-field views-field-title">        <h1 class="field-content faq_title minus">Is taking chicago driving lessons recommended?</h1>  </div>  
  <div class="views-field views-field-body">        <div class="field-content faq_content" style="display: block;"><p>We teach you safe effective strategies for city driving and it's unique challenges.&nbsp;&nbsp; Training that lasts a lifetime!</p>
</div>  </div>  </div>
  <div class="views-row views-row-9">
      
  <div class="views-field views-field-title">        <h1 class="field-content faq_title">What if I am late or miss a class? </h1>  </div>  
  <div class="views-field views-field-body">        <div class="field-content faq_content"><p>Students must attend all classes.&nbsp; Any missed classes must be made up.</p>
<p>Missing Driving sessions will result in a fee of $50 unless canceled at least 48 hours in advance.&nbsp;</p>
</div>  </div>  </div>
  <div class="views-row views-row-10">
      
  <div class="views-field views-field-title">        <h1 class="field-content faq_title">Do I have to go to the Secretary of State to take my road test after taking the class? </h1>  </div>  
  <div class="views-field views-field-body">        <div class="field-content faq_content"><p>Yes,&nbsp; we offer DMV road testing service at Elston and Chicago West DMV locations.&nbsp;&nbsp;&nbsp; We can meet you with the vehicle or pick / drop you off.&nbsp; See rates under classes.</p>
</div>  </div>  </div>
  <div class="views-row views-row-11">
      
  <div class="views-field views-field-title">        <h1 class="field-content faq_title">Where are your pick up boundaries? </h1>  </div>  
  <div class="views-field views-field-body">        <div class="field-content faq_content"><p>Madison to the South, Peterson to the North, Kedzie to the West.&nbsp; Free pick / drop is offered within a certain radius of the office ( Ravenswood)</p>
<p>For most driving packages, pick / drop can be added for only $40&nbsp;</p>
</div>  </div>  </div>
  <div class="views-row views-row-12">
      
  <div class="views-field views-field-title">        <h1 class="field-content faq_title">If I change my mind can I get my money back? </h1>  </div>  
  <div class="views-field views-field-body">        <div class="field-content faq_content"><p>Your down payment of $105 is non-refundable if not canceled within 5 days of the classroom start date.&nbsp; The remainder is only refunded if we are notified 5 calendar days prior to your class date.</p>
</div>  </div>  </div>
  <div class="views-row views-row-13">
      
  <div class="views-field views-field-title">        <h1 class="field-content faq_title minus">What type of vehicles do you use? </h1>  </div>  
  <div class="views-field views-field-body">        <div class="field-content faq_content" style="display: block;"><p>Ride Chicago Automobile training provides new model Scion vehicles equipped with dual controls for maximum safety.</p>
</div>  </div>  </div>
    </div>
  
  
  
  
  
  
</div>  </div>
</div>
  </div>
          </div>
          
          </div> <!-- /#middle-content -->
          
          
                      
                 <div class="clear"></div>
      </div></div></div>

{% endblock %}