{% extends "RideChicagoAutoBundle::Default/index.html.twig" %}

{% block aboveContent %}
<div id="banner" >

	<div class="region region-banner">
		<div id="block-views-home-banner-block" class="block block-views clearfix">


			<div class="content">
				<div class="view view-home-banner view-id-home_banner view-display-id-block view-dom-id-e078e0d8736a02a349acc10ee6ba691f">



					<div class="view-content">

						<div class="skin-default">

							<div id="views_slideshow_cycle_main_home_banner-block" class="views_slideshow_cycle_main views_slideshow_main"><div id="views_slideshow_cycle_teaser_section_home_banner-block" class="views-slideshow-cycle-main-frame views_slideshow_cycle_teaser_section">
									<div id="views_slideshow_cycle_div_home_banner-block_0" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-1 views-row-odd">
										<div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-first views-row-odd">

											<div class="views-field views-field-nothing">        <span class="field-content"><div class="banner_wrapper">
														<div class="banner_left">
															<h2><a href="/pricing">start Driving Today! </a></h2>
															<div class="start_nw"><a href="/pricing">&nbsp;</a></div>
														</div>
														<div class="banner_right">
															<img typeof="foaf:Image" src="http://autoridechicago.com/sites/default/files/slide_1_1.PNG" width="745" height="418" alt="" /> 
														</div>
													</div></span>  </div></div>
									</div>
								</div>
							</div>
						</div>
					</div>






				</div>  </div>
		</div>
	</div>

</div>

{% endblock %}



{% block content %}




<div id="squeeze">
	<div class="right-corner"><div class="left-corner">


			<div id="sidebar-first" class="sidebar">
				<div class="region region-sidebar-first">
					<div id="block-block-3" class="block block-block clearfix">

						<h2 class="title">Prepare for success</h2>

						<div class="content">
							<p>Whether you're new to the world of driving or an experienced driver looking to enhance your skills, Ride Chicago Driving school offers instruction designed to suit your needs. At Ride Chicago, we prepare you for success.</p>
						</div>
					</div>
					<div id="block-block-4" class="block block-block clearfix">

						<h2 class="title">maximum seat time</h2>

						<div class="content">
							<p>At our Chicago driving school, we understand there is no substitute for being behind the wheel as much as possible. We prepare our students with maximum driving time at affordable pricing. With our flexible schedule, we cater to the student and parents busy schedules. When taking a Chicago driving class, there I no better teacher than experience behind the wheel.</p>
						</div>
					</div>
					<div id="block-block-5" class="block block-block clearfix">

						<h2 class="title">safety</h2>

						<div class="content">
							<p>Our state-certified Chicago driving school instructors are accustomed to working with students of all skill levels and provide individualized direction tailored to their needs. Our teaching technique is founded on the importance of patience and attention to detail. We are dedicated to ensuring that students achieve their goals and enjoy a safe and successful experience while driving. Our training vehicles are new model Toyota Scions. Each is equipped with dual controls to ensure instructors can lend a helping hand (or foot) when needed.</p>
						</div>
					</div>
				</div>
			</div>


			<div class="middle-content">     


				<a id="main-content"></a>
				<div id="tabs-wrapper" class="clearfix">                  

				</div>                                      
				<div class="clearfix">
					<div class="region region-content">
						<div id="block-system-main" class="block block-system clearfix">


							<div class="content">
								<div class="view view-home-page-news view-id-home_page_news view-display-id-page view-dom-id-4d564d125a29aef8fbe03703cfdcac89">



									<div class="view-content">
										<div class="views-row views-row-1 views-row-odd views-row-first">

											<div class="views-field views-field-nothing">        <span class="field-content"><div class="news_box">
														<div class="news_img">
															<a href="/teens"><img typeof="foaf:Image" src="http://autoridechicago.com/sites/default/files/img1.png" width="234" height="161" alt="" /></a> 
														</div>
														<div class="news_content">
															<div class="news_title"><a href="/teens">teens</a></div>
															<div class="news_body"><p>Learning to drive is an important step in every teen’s life. We cover a wide array of skills preparing your teen for success.</p>

															</div>
														</div>
													</div></span>  </div>  </div>
										<div class="views-row views-row-2 views-row-even">

											<div class="views-field views-field-nothing">        <span class="field-content"><div class="news_box">
														<div class="news_img">
															<a href="/adults"><img typeof="foaf:Image" src="http://autoridechicago.com/sites/default/files/img2.png" width="234" height="161" alt="" /></a> 
														</div>
														<div class="news_content">
															<div class="news_title"><a href="/adults">adults </a></div>
															<div class="news_body"><p>For adults over 18, we offer private behind the wheel instruction.</p>

															</div>
														</div>
													</div></span>  </div>  </div>
										<div class="views-row views-row-3 views-row-odd views-row-last">

											<div class="views-field views-field-nothing">        <span class="field-content"><div class="news_box">
														<div class="news_img">
															<a href="/testing"><img typeof="foaf:Image" src="http://autoridechicago.com/sites/default/files/img3.png" width="234" height="161" alt="" /></a> 
														</div>
														<div class="news_content">
															<div class="news_title"><a href="/testing"> Testing</a></div>
															<div class="news_body"><p>Our Chicago driving school can provide you with the training and vehicle to successfully pass your road test at the DMV.</p>

															</div>
														</div>
													</div></span>  </div>  </div>
									</div>






								</div>  </div>
						</div>
					</div>
				</div>

			</div> <!-- /#middle-content -->



			<div class="clear"></div>
		</div></div>



</div>

{% endblock %}