{% extends "RideChicagoAutoBundle::Default/default.html.twig" %}

{% block content %}

<div id="squeeze">
           <div class="right-corner"><div class="left-corner">
           
           
                    
         
         <div class="middle-content">     
           
           
                              <a id="main-content"></a>
          <div id="tabs-wrapper" class="clearfix">                  
         
          </div>                                      
                    <div class="clearfix">
              <div class="region region-content">
    <div id="block-system-main" class="block block-system clearfix">

    
  <div class="content">
    

<div id="node-348" class="node node-page permits ">

  
 
  

  
    <h2 class="permits">permits</h2>
 


 
 
 
 
 
  
  <div class="content clearfix">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>To begin behind the wheel training, Teens must have a valid instructional permit issued by the Secretary of State. Permits are obtained by passing a written exam at the SOS facility and paying a $20 fee. Study here (link) <a href="http://www.cyberdriveillinois.com/publications/pdf_publications/dsd_a112.pdf">Click Here</a></p>
<p>Those over 18 must have a valid driver’s license or an instructional permit<br><b>More info on State Instruction Permit Requirements</b></p>
<ul><li>You must pay the appropriate fee, pass the vision screening and the applicable written exam for the classification you are seeking. Proper identification documents are required.</li>
<li>If you are age 15-17, you must be enrolled in, or 30 days prior to active participation in, an approved driver education class.</li>
<li>Your permit must be used in the behind-the-wheel portion of the driver education class when an adult instructor is sitting beside you.</li>
<li>You also may practice driving with an adult who is at least age 21, has a license for the type of vehicle you are driving, and has at least one year of driving experience.</li>
<li>An applicant under age 18 is issued an instruction permit valid for two years, and the permit must be held for at least nine months prior to obtaining a driver's license. An applicant age 18 and older is issued an instruction permit valid for one year.</li>
<li>If you are age 17 years and 3 months or older, you may apply for a permit without taking a driver education course.</li>
<li>After you have successfully completed the driver education class, you may continue practicing to drive with your instruction permit under the supervision of a responsible adult as outlined above.</li>
<li>If you receive your license prior to the expiration of your instruction permit, you may not be required to pay an additional fee.</li>
</ul><p><b>Other helpful forms and downloads</b></p>
<p>
<b>Rules of the road workbook: <a href="http://www.cyberdriveillinois.com/publications/pdf_publications/dsd_ds9.pdf#page=2&amp;zoom=auto,0,792 Affidavit / consent for minor to drive:http://www.cyberdriveillinois.com/publications/pdf_publications/dsd_x174.pdf">Click Here</a></b></p>
<p>Driver education approval form:&nbsp;<a href="http://www.cyberdriveillinois.com/publications/pdf_publications/dsd_cdts54.pdf" style="line-height: 1.6em;">Click Here</a></p>
<p>50 hour practice log sheet:&nbsp;<span style="line-height: 1.6em;"><a href="http://www.cyberdriveillinois.com/publications/pdf_publications/dsd_x152.pdf">Click Here</a></span></p>
<p>Parent / Teen driving contract:&nbsp;<span style="line-height: 1.6em;"><a href="http://www.cyberdriveillinois.com/publications/pdf_publications/dsd_a211.pdf">Click Here</a></span></p>
<p>Acceptable forms of identification:&nbsp;<a href="http://www.cyberdriveillinois.com/publications/pdf_publications/dsd_x173.pdf"><span style="line-height: 1.6em;">Click Here</span></a></p>
<p>&nbsp;</p>
</div></div></div>  </div>

  <div class="clearfix">
          <div class="links"></div>
    
      </div>

</div>
  </div>
</div>
  </div>
          </div>
          
          </div> <!-- /#middle-content -->
          
          
                      
                 <div class="clear"></div>
      </div></div></div>

{% endblock %}