{% extends "RideChicagoAutoBundle::Default/default.html.twig" %}

{% block content %}

<div id="squeeze">
           <div class="right-corner"><div class="left-corner">
           
           
                    
         
         <div class="middle-content">     
           
           
                              <a id="main-content"></a>
          <div id="tabs-wrapper" class="clearfix">                  
         
          </div>                                      
                    <div class="clearfix">
              <div class="region region-content">
    <div id="block-system-main" class="block block-system clearfix">

    
  <div class="content">
    

<div id="node-338" class="node node-page pricing ">

  
 
  

  
    <h2 class="pricing">PRICING</h2>
 


 
 
 
 
 
  
  <div class="content clearfix" style="font-size: 15px;">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p><strong>Teens (15-17)</strong><br>
Basic Driving Class - 30/6/6 -$450<br>
Skilled Driver Class - 30/8 -$495</p>
<p>Teen Driving only- Classroom already completed at your school:&nbsp;</p>
<p><strong>1)</strong> &nbsp;&nbsp; 8 hours private 1 on 1 driving -$360&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; or</p>
<p><strong>2) &nbsp;&nbsp; </strong>6 hours driving, 6 hours observation ( with partner) -$320</p>
<p>&nbsp;Home pick up / drop off for driving can be added to any 6/8 hour program for $50.&nbsp;&nbsp;Distance parameters apply.</p>
<p><strong>Adults or Teens Private Driving sessions: </strong><br>
2 hours -$99<br>
4 hours -$195<br>
6 hours -$285<br>
8 hours -$360</p>

<p>50 Hours Practice Chicago Driver Training - $1950<br>
24 Hour Practice Chicago Driver Training - $995</p>
</div></div></div>  </div>

  <div class="clearfix">
          <div class="links"></div>
    
      </div>

</div>
  </div>
</div>
  </div>
          </div>
          
          </div> <!-- /#middle-content -->
          
          
                      
                 <div class="clear"></div>
      </div></div></div>


{% endblock %}